block content
    <!-- Header -->
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      a(class="navbar-brand" href="https://bell.zsmark.dev")
        i(width="30" height="30" class="d-inline-block align-top" alt="") Bell-system
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")

      div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")

          if auth
            <!-- li(class="nav-item") -->
              <!-- a(class="nav-link" href="#") Time editor -->
            li(class="nav-item")
              a(class="nav-link" href="/override") Override

          if auth
            <!--Admin dropdown-->
            li(class="nav-item dropdown")
              a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Admin
              div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                a(class="dropdown-item" href="/metrics") Metrics
                a(class="dropdown-item" href="/control") Web C&C panel
                a(class="dropdown-item" href="/telemetry") Node telemetry
                div(class="dropdown-divider")
                a(class="dropdown-item" href="/container") Container control
                div(class="dropdown-divider")
                a(class="dropdown-item" href="/config") Config
            <!--Admin dropdown-->

        if auth
          div(class="my-2 my-lg-0")
            a(href="/logout" class="btn btn-danger my-2 my-sm-0" role="button") Logout
        else
          div(class="my-2 my-lg-0")
            a(href="/signin" class="btn btn-success my-2 my-sm-0" role="button") Login
        <!-- Header -->
