extends layout
block content
  link(rel="stylesheet" href="/stylesheets/config.css" type="text/css")
  body
    include ./partials/navbar
    div(class="row")
      div(class="col-12 col-md-6 col-xl-4 mb-3")
        div(class="card")
          h5(class="card-header") New node registration
          div(class="card-body")
            form(id="form-regdevice" action="/config/new")
            
              div(class="form-group")
                label(for="NameText") Name:
                textarea(class="form-control" id="name" name="name" rows="1")
              div(class="form-group")
                div(class="form-check form-check-inline")
                  input(class="form-check-input" type="radio" id="esp32" name="inlineRadioOptions")
                  label(class="form-check-label" for="esp32") ESP32
                  
                div(class="form-check form-check-inline")
                  input(class="form-check-input" type="radio" id="esp8266" name="inlineRadioOptions")
                  label(class="form-check-label" for="esp8266") ESP8266
                  
              div(class="form-group")
                label(for="location") Location:
                textarea(class="form-control" id="location" name="location" rows="1")
            
            div(id="buttonSubmit")
              button(id="submit" class="btn btn-success" type="submit") Submit
              
      div(class="col-12 col-md-6 col-xl-4 mb-3")
        div(class="card")
          h5(class="card-header") Delete node
          div(class="card-body")
            form(id="form-deldevice" action="/config/delete")
              div(class="form-group")
                label(for="DeviceId") Database ID:
                textarea(class="form-control" id="delID" name="DeviceID" rows="1")
            div(id="buttonSubmit")
              button(id="delete" class="btn btn-danger" type="submit") Delete
  
  
  
  
  <div class="toast" data-autohide="false">
    <div class="toast-header">
      Toast Header
    </div>
    <div class="toast-body">
      Some text inside the toast body
    </div>
  </div>
  <!-- Modal -->
    div(class="modal fade" id="generatedDeviceData" tabindex="-1" role="dialog" aria-labelledby="DeviceModalLabel" aria-hidden="true")
      div(class="modal-dialog" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title" id="DeviceModalLabel") Generated device data
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          div(class="modal-body")
            div(class="row")
              div(class="col-sm-7")
                div(class="card row")
                  div(class="card-body")
                    form(class="form-deviceReg")
                      div(class="form-group")
                        label(for="deviceId" class="col-form-label") Device ID:
                        input(type="text" class="form-control" id="deviceId" readonly)
                      div(class="form-group")
                        label(for="dbId" class="col-form-label") Unique Database ID:
                        input(type="dbId" class="form-control" id="dbId" readonly)
              div(class="col-sm-5")
                div(class="card row")
                  div(class="card-body")
                    div(id="qrcode" class="center")
          div(class="modal-footer")
            button(type="button" class="btn btn-primary" data-dismiss="modal") Close
            
  <!-- Modal -->
    div(class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true")
      div(class="modal-dialog" role="document")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title" id="DeleteModalLabel") Warning!
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          div(class="modal-body")
                    p If you delete this device you will delete all linked metrics too.
                    p Are you sure to delete device?
                    
          div(class="modal-footer")
            div(class="text-center")
              button(id="confirm" type="button" class="btn btn-warning" data-dismiss="modal") Confirm
      
  include ./partials/footer
  script(src="/javascripts/config.js")
  script(src="/javascripts/qrcode.js")
