extends layout
block content
  link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body
    include ./partials/navbar
    <!-- jumbotron -->
    main
      div(class="jumbotron jumbotron-fluid")
        div(class="container")
          h1(class="display-4") Bell command & control panel
          p(class="lead") It use to control the ESP32 based school bell system, infrastructure services provisioning and edit the trigger date.
      <!-- jumbotron -->

  include ./partials/footer
