extends layout
block content
  if alert
    <script type="text/javascript"> setInterval(function(){ $("#alert-box").fadeOut(); }, 6000); </script>
  link(rel="stylesheet" href="/stylesheets/signin.css" type="text/css")
  body(class="text-center")
    if reg
      form(class="form-signin" action="/signup" method="POST")
        img(class="mb-4" src="/images/deri.png" alt="" width="72" height="72")
        h1(class="h3 mb-3 font-weight-normal") Registration form
        if alert
          div(class="alert alert-danger" id="alert-box" role="alert") #{alert}
        label(for="inputUsername" class="sr-only") Username
        input(name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus)

        label(for="inputEmail" class="sr-only") Email address
        input(name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required)

        label(for="inputPassword" class="sr-only") Password
        input(name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required)

        label(for="inputPermToken" class="sr-only") Permission token
        input(name="permToken" type="text" id="inputPermToken" class="form-control" placeholder="Permission token")

        div(class="mb-3")
        button(class="btn btn-lg btn-primary btn-block" type="submit") Sign up
        p(class="mt-5 mb-3 text-muted") &copy; 2020
      
    else
    
      form(class="form-signin" action="/signin" method="POST")
        img(class="mb-4" src="/images/deri.png" alt="" width="72" height="72")
        h1(class="h3 mb-3 font-weight-normal") Please sign in
        if alert
          div(class="alert alert-danger" id="alert-box" role="alert") #{alert}
        label(for="inputEmail" class="sr-only") Email address
        input(name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)

        label(for="inputPassword" class="sr-only") Password
        input(name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required)

        
        button(class="btn btn-lg btn-primary btn-block" id="submit" type="submit") Sign in
        p(class="mt-5 mb-3 text-muted") &copy; 2020
