body
{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
/*  background: #007bff; */
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}
a
{
  color: #00B7FF;
}
#sticky-footer {
  flex-shrink: none;
  background-color: rgb(33, 37, 41);
}
.form-control {
  text-align: center;
}
#buttonSubmit {
  text-align: center;
}

canvas {
   display: inline;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
