body
{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
/*  background: #007bff; */
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#sticky-footer {
  flex-shrink: none;
  background-color: rgb(33, 37, 41);
}

.container {
        width: 50%;
        height: 50%;
        position: relative;
    }
#loadingMessage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
