<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      v-if="authed"
    >
      <v-list dense>
        <v-list-item link to="/remote">
          <v-list-item-action>
            <v-icon>settings_remote</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Távoli vezérlés</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/nodes">
          <v-list-item-action>
            <v-icon>device_hub</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Node-ok</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/settings">
          <v-list-item-action>
            <v-icon>settings</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Beállítások</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Bell-system</v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- <v-avatar color="indigo" size="36">
        <v-gravatar email="info@zsmark.dev"/>
      </v-avatar> -->
      <v-badge
        v-if="authed"
        bordered
        color="error"
        icon="mdi-lock"
        overlap
      >
        <v-btn left color="red" @click="deauth">Kilépés</v-btn>
      </v-badge>
      <v-btn v-else left color="green" @click="login = !login">Belépés</v-btn>
    </v-app-bar>
    <v-content>
      <router-view></router-view>
      <v-overlay
         opacity=0.85
         v-model="apiConn"
       >
        <v-card
          class="mx-auto"
          max-width="376"
          outlined
        >
          <v-list-item three-line>
            <v-list-item-content>

              <v-list-item-title class="headline mb-1">Sikertelen kapcsolódás! <v-icon color="red">cloud_off</v-icon></v-list-item-title>
              <v-list-item-subtitle>A szerverrel való kapcsolatfelvétel során hiba lépett fel. Lehetséges, hogy a szerver nem elérhető!</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

        </v-card>
      </v-overlay>

        <v-dialog v-model="login" max-width="500px" overlay-opacity=0.8>
          <v-card class="elevation-12">
            <v-toolbar
              :color="boxColor"
              dark
              flat
            >
              <v-toolbar-title>Bejelentkezés</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form>
                    <v-text-field
                      id="email"
                      :rules="emailRules"
                      label="Email cím"
                      name="email"
                      prepend-icon="email"
                      type="text"
                      v-model="email"
                      @click='boxColor = "cyan"; authFail = false;'
                    />

                    <v-text-field
                      id="password"
                      :rules="passwordRules"
                      label="Jelszó"
                      name="password"
                      prepend-icon="lock"
                      v-model="password"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPassword ? 'text' : 'password'"
                      @click:append='showPassword = !showPassword'
                      @click='boxColor = "cyan"; authFail = false;'
                    />
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
                <v-btn
                outlined
                color="green"
                @click="auth"
                :loading="loading"
                :disabled="loading"
                @keyup.enter="auth"
                >
                  <v-icon left>done</v-icon>
                  <span>Belépés</span>
                </v-btn>
            </v-card-actions>
          </v-card>
          <v-divider
            v-if="authFail"
            class="mx-4"
            vertical
          ></v-divider>
          <v-banner single-line v-model="authFail" sticky>
            <v-icon slot="icon"color="warning"size="36">warning</v-icon>
            {{ failMessage }}
            <template v-slot:actions>
            </template>
          </v-banner>
        </v-dialog>


    </v-content>
    <v-footer app>
      <span>&copy; 2020 Zsibók Márk</span>
    </v-footer>
  </v-app>
</template>

<script>
import axios from 'axios';
import msgpack from "msgpack-lite";
const API = process.env.VUE_APP_API
export default {
  name: 'App',
  props: {
    source: String,
  },

  data: () => ({
    login: false,
    drawer: false,
    authed: false,
    boxColor: 'cyan',
    showPassword: false,
    loading: false,
    alert: false,
    authFail: false,
    text: '',
    timeout: 3000,
    password: '',
    email: '',
    apiConn: false,
    failMessage: '',
    emailRules: [
    v => !!v || 'E-mail cím kötelező!',
    v => /.+@.+\..+/.test(v) || 'Nem érvényes e-mail cím!',
    ],
    passwordRules: [
      v => !!v || 'Kötelező a jelszó megadása!'
    ],
    recheck: 5000
  }),

  created () {
    this.$vuetify.theme.dark = true
  },
  mounted(){
    this.checkApi();
    if(localStorage.Authorization){
      this.authed = true;
    }
  },
  methods:{
      deauth(){
        this.drawer = false;
        axios({
          method: 'delete',
          url: API + "/user/auth/",
          headers: {
            Authorization: localStorage.Authorization,
          }
        })
        .then((response) => {
          localStorage.removeItem('Authorization');
          response = msgpack.decode(Buffer.from(response.data, "hex"))
          this.authed = false;
          if (response.status != 'ok'){
            console.log('deauth error: ');
            console.log(response.data.reason);
          }
          this.$router.push({ name: 'home'})
        });
      },
      auth(){
        this.alert = false;
        this.loading = true;
        this.boxColor = 'green';
        var packed = msgpack.encode({
            email: this.email,
            password: this.password
          }).toString('hex');
        axios({
          method: 'post',
          url: API + "/user/auth/" + packed,
        })
        .then((response) => {
          response = msgpack.decode(Buffer.from(response.data, "hex"))
          if (response.status=='ok'){
            this.boxColor = 'green';
            localStorage.Authorization = response.token;
            this.loading = false;
            this.login = false;
            this.authed = true;
            this.drawer = true;

          }
          else if (response.status=='error'){
              this.boxColor = 'red';
              this.authFail =  true;
              this.failMessage = response.reason;
              this.loading = false;
          }
        })
        .catch((e) => {
          // handle error
          this.authFail =  true;
          this.loading = false;
          this.failMessage = "Sajnos valamilyen probléma lépett fel!";
        });
      },
      async checkApi(){
        axios({
          method: 'get',
          url: API+'/status',
        })
        .then((response) => {
          response = msgpack.decode(Buffer.from(response.data, "hex"))
          if (response.status != 'ok'){
            this.apiConn =  true;
            this.login = false;
            this.drawer = false;
            this.recheck = 5000;
            console.log('Can not established the connection with REST API!');
          } else {
            this.apiConn =  false;
            this.recheck = 30000;
          }
        })
        .catch((e) => {
          // handle error
          this.apiConn =  true;
          this.login = false;
          this.drawer = false;
          this.recheck = 5000;
        });
        setTimeout(this.checkApi, this.recheck);
      }
    }
};
</script>
