<template>
<v-card class="mx-auto" max-width="1000">
  <v-container fluid>
    <v-row dense>
      <v-col
      cols=6
      justify="center"
      align="center">
        <v-hover
        v-slot:default="{ hover }"
        close-delay="200">
          <v-card
          :elevation="hover ? 20 : 2">
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title align="center" class="headline mb-1">Eszköz hozzáadása</v-list-item-title>

                <v-form ref="newNodeForm">
                  <v-text-field
                  label="Eszköz elnevezése"
                  prepend-icon="device_unknown"
                  v-model="newNodeName"
                  @click="if (errorTrigger){errorTrigger = false}" />

                  <v-text-field
                  label="Eszköz helye"
                  prepend-icon="beenhere"
                  v-model="newNodeLocation"
                  @click="if (errorTrigger){errorTrigger = false}" />

                  <v-radio-group
                  v-model="newNodeType"
                  mandatory>
                    <v-radio
                    v-for="nodeType in nodeTypes"
                    :key="nodeType"
                    :label="nodeType"
                    :value="nodeType" />

                  </v-radio-group>
                </v-form>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <v-btn
              outlined
              color="green"
              @click="addNewNode"
              :loading="newNodeLoading"
              :disabled="newNodeLoading" >
                <v-icon left>save</v-icon>
                <span>Mentés</span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-hover>
      </v-col>
      <!-- Remove device -->
      <v-col
      cols=6
      justify="center"
      align="center">
        <v-hover
        v-slot:default="{ hover }"
        close-delay="200">
          <v-card
          :elevation="hover ? 20 : 2">
            <v-list-item three-line>
              <v-list-item-content>
                <v-list-item-title align="center" class="headline mb-1">Eszköz eltávolítása</v-list-item-title>

                <v-form ref="removeNodeForm">
                  <v-text-field
                  label="Eszköz adatbázis azonosítója"
                  prepend-icon="fingerprint"
                  v-model="removeNodeId"
                  @click="if (errorTrigger){errorTrigger = false}" />
                </v-form>
              </v-list-item-content>
            </v-list-item>

            <v-card-actions>
              <v-btn
              outlined
              color="red"
              @click="removeNode"
              :loading="removeNodeLoading"
              :disabled="removeNodeLoading" >
                <v-icon left>delete_forever</v-icon>
                <span>Törlés</span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-hover>
      </v-col>
      <!--Eszközök-->
      <v-col
      col=12
      justify="center"
      align="center"
      >
      <v-hover
      v-slot:default="{ hover }"
      close-delay="200"
      >
        <v-card
        :elevation="hover ? 20 : 2"
        >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title align="center" class="headline mb-1">Node-ok</v-list-item-title>
            <v-data-table
              :headers="nodesHeaders"
              :items="nodes"
              :items-per-page="10"
              class="elevation-1"
            ></v-data-table>
            </v-list-item-content>
          </v-list-item>
          <v-card-actions>
            <v-btn outlined
            color="green"
            @click="getAllNode"
            :loading="getAllNodeLoading"
            :disabled="getAllNodeLoading">
              <v-icon left>youtube_searched_for</v-icon>
              <span>Frissítés</span>
            </v-btn>
        </v-card-actions>
        </v-card>
      </v-hover>
      </v-col>
    </v-row>
    <v-snackbar
    v-model="errorTrigger"
    right bottom color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-container>
</v-card>
</template>

<script>
const API = process.env.VUE_APP_API;
export default {
  data: () => ({
    newNodeName: "",
    newNodeLocation: "",
    newNodeLoading: false,
    removeNodeId: "",
    removeNodeLoading: false,
    nodeTypes: [
      "ESP32",
      "ESP8266"
    ],
    newNodeType: "",
    nodes: [],
    getAllNodeLoading: false,
    nodesHeaders:[
      { text: 'Eszköz neve', value: 'name' },
      { text: 'Adatbázis azonosító', value: '_id' },
      { text: 'Eszköz azonosító', value: 'nodeId' },
      { text: 'Típus', value: 'type' },
      { text: 'Elhellyezve', value: 'location' },
      { text: 'Hozzáadás dátuma', value: 'date' }
    ],
    errorTrigger: false,
    errorMessage: ""
  }),
  mounted(){
    this.getAllNode();
  },
  methods: {
    addNewNode(){
      this.newNodeLoading = true;
      var packed = msgpack.encode({
        name: this.newNodeName,
        location: this.newNodeLocation,
        type: this.newNodeType
      }).toString('hex');
      axios({
        method: 'patch',
        url: API + "/device/" + packed,
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "ok"){
          this.$refs.newNodeForm.reset();
          this.getAllNode();
        }
        else {
          this.errorMessage = response.reason;
          this.errorTrigger = true;
        }
        this.newNodeLoading = false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.newNodeLoading = false;
      });
    },
    removeNode(){
      this.removeNodeLoading = true;
      var packed = msgpack.encode({
        _id: this.removeNodeId,
      }).toString('hex');
      axios({
        method: 'delete',
        url: API + "/device/" + packed,
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "ok"){
          this.$refs.removeNodeForm.reset();
          this.getAllNode();
        }
        else {
          if (response.reason) this.errorMessage = response.reason;
          else this.errorMessage = "Hiba";
          this.errorTrigger = true;
        }
        this.removeNodeLoading = false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.removeNodeLoading = false;
      });
    },
    getAllNode(){
      this.getAllNodeLoading = true;
      axios({
        method: 'get',
        url: API + "/device/all",
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "error"){
          this.nodes = [];
          if (response.reason) this.errorMessage = response.reason;
          else this.errorMessage = "Hiba";
          this.errorTrigger = true;
        }
        else {
          this.nodes = response;
        }
        this.getAllNodeLoading = false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.getAllNodeLoading = false;
      });
    }
  }
}
</script>
