<template>
<v-card class="mx-auto" max-width="1000">
  <v-container fluid>
    <v-row dense>
      <!--Eszközök-->
      <v-col
      col=6
      justify="center"
      align="center"
      >
      <v-hover
      v-slot:default="{ hover }"
      close-delay="200"
      >
        <v-card
        :elevation="hover ? 20 : 2"
        >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title align="center" class="headline mb-1">Node-ok</v-list-item-title>
            <v-data-table
              :headers="nodesHeaders"
              :items="nodes"
              :items-per-page="10"
              class="elevation-1"
              item-key="_id"
              v-model="triggeredNodes"
              show-select
            ></v-data-table>
            </v-list-item-content>
          </v-list-item>
          <v-card-actions>
            <v-btn outlined
            color="green"
            @click="getAllNode"
            :loading="getAllNodeLoading"
            :disabled="getAllNodeLoading">
              <v-icon left>youtube_searched_for</v-icon>
              <span>Frissítés</span>
            </v-btn>
        </v-card-actions>
        </v-card>
      </v-hover>
      </v-col>
      <!--Activation-->
      <v-col
      col=6
      justify="center"
      align="center"
      >
      <v-hover
      v-slot:default="{ hover }"
      close-delay="200"
      >
        <v-card
        :elevation="hover ? 20 : 2"
        >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title align="center" class="headline mb-1">Parancsok</v-list-item-title>
            <v-col class="text-center">
              <v-btn-toggle
                v-model="triggerType"
                rounded
              >
                <v-btn x-large color="success" rounded>
                  <v-icon>add_alert</v-icon> Csengetés
                </v-btn>
                <v-btn x-large color="warning" rounded>
                  <v-icon>alarm</v-icon> Riasztás
                </v-btn>
                <v-btn x-large color="error" rounded>
                  <v-icon>block</v-icon> Reset
                </v-btn>
              </v-btn-toggle>
            </v-col>
            </v-list-item-content>
          </v-list-item>
          <v-card-actions>
            <v-btn outlined
            color="success"
            @click="triggerNodes"
            :loading="triggerNodesLoading"
            :disabled="triggerNodesLoading">
              <v-icon left>send</v-icon>
              <span>Küldés</span>
            </v-btn>
        </v-card-actions>
        </v-card>
      </v-hover>
      </v-col>
    </v-row>
    <v-snackbar
    v-model="errorTrigger"
    right bottom color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-container>
</v-card>
</template>

<script>
const API = process.env.VUE_APP_API;
export default {
  data: () => ({
    nodes: [],
    getAllNodeLoading: false,
    triggerNodesLoading: false,
    nodesHeaders:[
      { text: 'Eszköz neve', value: 'name' },
      { text: 'Adatbázis azonosító', value: '_id' },
    ],
    triggerType: "",
    triggeredNodes: [],
    errorTrigger: false,
    errorMessage: ""
  }),
  mounted(){
    this.getAllNode();
  },
  methods: {
    getAllNode(){
      this.getAllNodeLoading = true;
      axios({
        method: 'get',
        url: API + "/device/all",
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "error"){
          this.nodes = [];
          this.errorMessage = response.reason;
          this.errorTrigger = true;
        }
        else {
          this.nodes = response;
        }
        this.getAllNodeLoading = false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.getAllNodeLoading = false;
      });
    },
    triggerNodes(){
      this.triggerNodesLoading = true;
      let packed = new Object();
      switch (this.triggerType) {
        case 0:
          packed.mode = "bell";
          break;
        case 1:
          packed.mode = "alarm";
          break;
        case 2:
          packed.mode = "reset";
          break;
        default:
          packed.mode = "bell";
          break;
      }
      packed.nodes = new Array();
      for (var i = 0; i < this.triggeredNodes.length; i++) {
        packed.nodes[i] = new Object();
        packed.nodes[i].id = this.triggeredNodes[i]._id;
        packed.nodes[i].type = this.triggeredNodes[i].type;
      }
      packed = msgpack.encode(packed).toString('hex');

      axios({
        method: 'post',
        url: API + "/device/trigger/" + packed,
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "error"){
          this.errorMessage = response.reason;
          this.errorTrigger = true;
        }
        else {
          console.log(response);
        }
        this.triggerNodesLoading = false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.triggerNodesLoading = false;
      });
    }
  }
}
</script>
