<template>
<v-card class="mx-auto" max-width="900">
  <v-container fluid>
    <v-row dense>
      <v-col
      cols=6
      justify="center"
      align="center"
      >
      <v-hover
      v-slot:default="{ hover }"
      close-delay="200"
      >
        <v-card
        :elevation="hover ? 20 : 2"
        >
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title align="center" class="headline mb-1">Jelszó változtatás</v-list-item-title>
              <v-form
              ref="changePassForm"
              >
                <v-text-field
                :rules="passwordRules"
                label="Régi jelszó"
                prepend-icon="lock"
                v-model="oldPass"
                :append-icon="showOldPass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showOldPass ? 'text' : 'password'"
                @click:append='showOldPass = !showOldPass'
                @click="if (errorTrigger){errorTrigger = false}"
                />

                <v-text-field
                :rules="passwordRules"
                label="Új jelszó"
                prepend-icon="lock"
                v-model="newPass"
                :append-icon="showNewPass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showNewPass ? 'text' : 'password'"
                @click:append='showNewPass = !showNewPass'
                @click="if (errorTrigger){errorTrigger = false}"
                />
              </v-form>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn outlined
            color="green"
            @click="changePass"
            :loading="changePassLoading"
            :disabled="changePassLoading">
              <v-icon left>save</v-icon>
              <span>Mentés</span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-hover>
      </v-col>
      <!-- Email change -->
      <v-col
      cols=6
      justify="center"
      align="center"
      >
        <v-hover
        v-slot:default="{ hover }"
        close-delay="200"
        >
        <v-card
          :elevation="hover ? 20 : 2"
        >
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title align="center" class="headline mb-1">Email cím változtatás</v-list-item-title>
              <v-form
              ref="changeEmailForm"
              >
                <v-text-field
                  :rules="emailRules"
                  label="Új email cím"
                  prepend-icon="email"
                  v-model="newEmail"
                  @click="if (errorTrigger){errorTrigger = false}"
                />

              </v-form>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn outlined
            color="green"
            @click="changeEmail"
            :loading="changeEmailLoading"
            :disabled="changeEmailLoading">
              <v-icon left>save</v-icon>
              <span>Mentés</span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-hover>
      </v-col>
      <!--Get all user-->
      <v-col
      col=12
      justify="center"
      align="center"
      >
      <v-hover
      v-slot:default="{ hover }"
      close-delay="200"
      >
        <v-card
        :elevation="hover ? 20 : 2"
        >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title align="center" class="headline mb-1">Felhasználók</v-list-item-title>
              <v-list>
                <v-list-item-group v-model="users" color="primary">
                  <v-list-item
                    v-for="(user, i) in users"
                    :key="i"
                    @click="deleteUserId = user.id"
                  >
                    <v-list-item-avatar>
                      <v-img :src="user.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title v-html="user.username"></v-list-item-title>
                      <v-list-item-subtitle v-html="user.id"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-list-item-content>
          </v-list-item>
          <v-card-actions>
            <v-btn outlined
            color="green"
            @click="getAllUser"
            :loading="getAllUserLoading"
            :disabled="getAllUserLoading">
              <v-icon left>youtube_searched_for</v-icon>
              <span>Frissítés</span>
            </v-btn>
        </v-card-actions>
        </v-card>
      </v-hover>
      </v-col>
      <v-col
      col=12
      justify="center"
      align="center"
      >
      <v-hover
      v-slot:default="{ hover }"
      close-delay="200"
      >
        <v-card
        :elevation="hover ? 20 : 2"
        >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title align="center" class="headline mb-1">Új felhasználó hozzáadása</v-list-item-title>
            <v-form
            ref="createNewUserForm"
            >
              <v-text-field
                :rules="emailRules"
                label="Email cím"
                prepend-icon="email"
                v-model="newUserEmail"
                @click="if (errorTrigger){errorTrigger = false}"
              />
              <v-text-field
                label="Felhaszálónév"
                prepend-icon="account_circle"
                v-model="newUserUsername"
                @click="if (errorTrigger){errorTrigger = false}"
              />
              <v-text-field
                label="Jelszó"
                prepend-icon="lock"
                type="password"
                v-model="newUserPass"
                @click="if (errorTrigger){errorTrigger = false}"
              />
              <v-radio-group
              v-model="newUserPerm"
              mandatory

              >
                <v-radio
                v-for="perm in perms"
                :key="perm"
                :label="perm"
                :value="perm"
                />
              </v-radio-group>


            </v-form>
          </v-list-item-content>
        </v-list-item>

        <v-card-actions>
          <v-btn outlined
          color="green"
          @click="createNewUser"
          :loading="createNewUserLoading"
          :disabled="createNewUserLoading">
            <v-icon left>done</v-icon>
            <span>Létrehozás</span>
          </v-btn>
        </v-card-actions>
        </v-card>
      </v-hover>
      </v-col>
      <v-col
      cols=6
      justify="center"
      align="center"
      />
      <v-col
      cols=6
      justify="center"
      align="center"
      >
        <v-hover
        v-slot:default="{ hover }"
        close-delay="200"
        >
        <v-card
          :elevation="hover ? 20 : 2"
        >
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title align="center" class="headline mb-1">Felhasználó törlése</v-list-item-title>
              <v-form
              ref="deleteUserForm"
              >
                <v-text-field
                  label="Felhasználó azonosítója"
                  prepend-icon="person"
                  v-model="deleteUserId"
                  disabled
                />

              </v-form>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn outlined
            color="red"
            @click="deleteUser"
            :loading="deleteUserLoading"
            :disabled="deleteUserLoading">
              <v-icon left>delete_forever</v-icon>
              <span>Törlés</span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-hover>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="errorTrigger"
      right
      bottom
      color="error"
    >
      {{ errorMessage }}
      <v-btn
        color="pink"
        text
      >
      </v-btn>
    </v-snackbar>
  </v-container>
</v-card>
</template>

<script>
import axios from 'axios';
import msgpack from "msgpack-lite";
const API = process.env.VUE_APP_API
export default {

  data: () => ({
    showOldPass: false,
    showNewPass: false,
    changePassLoading: false,
    createNewUserLoading: false,
    changeEmailLoading: false,
    getAllUserLoading: false,
    deleteUserLoading: false,
    newPass: "",
    oldPass: "",
    oldEmail: "",
    newEmail: "",
    newUserEmail: "",
    newUserUsername: "",
    newUserPass: "",
    newUserPerm: "",
    deleteUserId: "",
    errorTrigger: false,
    errorMessage: "",
    emailRules: [
      v => !!v || 'E-mail cím kötelező!',
      v => /.+@.+\..+/.test(v) || 'Nem érvényes e-mail cím!',
    ],
    passwordRules: [
      v => !!v || 'Kötelező a jelszó megadása!'
    ],
    users: [],
    user: 0,
    perms:[
      "guest",
      "editor",
      "headteacher",
      "dev"
    ]
  }),
  mounted(){
    this.getAllUser();
  },
  methods: {
    changePass() {
      this.changePassLoading = true;
      var packed = msgpack.encode({
        oldPass: this.oldPass,
        newPass: this.newPass,
      }).toString('hex');
      axios({
        method: 'patch',
        url: API + "/user/pass/" + packed,
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "ok"){
          this.$refs.changePassForm.reset();
        }
        else {
          this.errorMessage = response.reason;
          this.errorTrigger = true;
        }
        this.changePassLoading= false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.changePassLoading= false;
      });
    },
    changeEmail (){
      this.changeEmailLoading = true;
      var packed = msgpack.encode({
        newEmail: this.newEmail
      }).toString('hex');
      axios({
        method: 'patch',
        url: API + "/user/email/" + packed,
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "ok"){
          this.$refs.changeEmailForm.reset();
        }
        else {
          this.errorMessage = response.reason;
          this.errorTrigger = true;
        }
        this.changeEmailLoading= false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.changeEmailLoading= false;
      });
    },
    getAllUser(){
      this.getAllUserLoading = true;
      axios({
        method: 'get',
        url: API + "/user/all",
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "error"){
          this.users = [
            {
                avatar: "https://www.gravatar.com/avatar/e988d9dd6f2092514cf18d069e1837fe.jpg",
                username: "Admin",
                id: "1000"
            },
            {
                avatar: "https://www.gravatar.com/avatar/e988d9dd6f2092514cf18d069e1837fe.jpg",
                username: "Super admin",
                id: "0"
            },
            {
                avatar: "https://www.gravatar.com/avatar/e988d9dd6f2092514cf18d069e1837fe.jpg",
                username: "Hyper admin",
                id: "-0"
            },
            {
                avatar: "https://www.gravatar.com/avatar/e988d9dd6f2092514cf18d069e1837fe.jpg",
                username: "God of system",
                id: "-666"
            }
          ];
        }
        else {
          this.users = response;
          this.user = response.length
        }
        this.getAllUserLoading = false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.getAllUserLoading = false;
      });
    },
    createNewUser(){
      this.createNewUserLoading = true;
      var packed = msgpack.encode({
        email: this.newUserEmail,
        username: this.newUserUsername,
        password: this.newUserPass,
        role: this.newUserPerm
      }).toString('hex');
      axios({
        method: 'post',
        url: API + "/user/" + packed,
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "ok"){
          this.$refs.createNewUserForm.reset();
          this.getAllUser();
        }
        else {
          this.errorMessage = response.reason;
          this.errorTrigger = false;
        }
        this.createNewUserLoading = false;
      }).catch((e) => {
        // handle error
        console.log(e);
        this.createNewUserLoading = false;
      });
    },
    deleteUser(){
      this.deleteUserLoading = true;
      var packed = msgpack.encode({
        id: this.deleteUserId
      }).toString('hex');
      axios({
        method: 'delete',
        url: API + "/user/" + packed,
        headers: {
          Authorization: localStorage.Authorization,
        }
      })
      .then((response) => {
        response = msgpack.decode(Buffer.from(response.data, "hex"));
        if (response.status == "ok"){
          this.$refs.deleteUserForm.reset();
          this.getAllUser();
        }
        else {
          this.errorMessage = response.reason;
          this.errorTrigger = false;
        }
        this.deleteUserLoading= false;
      })
      .catch((e) => {
        // handle error
        console.log(e);
        this.deleteUserLoading= false;
      });
    }
  }
}
</script>
